.docs-main h3 {
  margin: 20px 0;
}

.docs-main .grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.docs-main nav li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px #ccc solid;
}

.docs-main a:hover {
  font-weight: bold;
}

.video-wrapper {
  width: 100%;
  text-align: center;
}

.alert i {
  margin: 10px 0;
}

.video-wrapper iframe {
  width: 80%;
  height: 400px;
}

.video .flex {
  flex-direction: column;
}